body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.wrapper {
    position: absolute;
    width: 95vw;
    height: 95vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(59, 46, 71, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

nav {
    position: relative;
    /*background-color: blue;*/
    padding-block: .5rem;
    padding-inline: 1.5rem;
}

.logo {
    display: inline-block;
    /*background-color: blue;*/
}

.logo img {
    /*background-color: yellowgreen;*/
}

.navbar {
    
}

.menu {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    margin-inline-end: 1.5rem;
    /*background-color: blue;*/
}







.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

.hamburger {
    /*background-color: green;*/
    margin: 0 auto;
    width: 1.5rem;
    height: 1rem;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 1.5rem;
    height: 3px;
    background:linear-gradient(45deg,#bb16bb,#0191da);
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: .5rem;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}











.hamburger4 .bar4 {
    top: .5rem;
}

.hamburger4 .bar5 {
    /*bottom: 0px;*/
    top: 1rem;
}

.hamburger4 .bar {
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger4 .bar2 {
    width: 1px;
    transform: rotate(90deg);
    left: .8rem;
}

.hamburger4 .bar3 {
    width: 1px;
    left: .8rem;
    
}

.checkbox4:checked + label > .hamburger4 > .bar1{
    top: 13.5px;
    background: transparent;
}

.checkbox4:checked + label > .hamburger4 > .bar2{
    left: 0px;
    width: 1.5rem;
    transform: rotate(45deg);
}

.checkbox4:checked + label > .hamburger4 > .bar3{
    left: 0;
    width: 1.5rem;
    transform: rotate(-45deg);
}

.checkbox4:checked + label > .hamburger4 > .bar4{
    background: transparent;
}

.checkbox4:checked + label > .hamburger4 > .bar5{
    bottom: 13.5px;
    background: transparent; 
}



.menu-items {
    /*background-color: green;*/
    background: rgba(59, 46, 71, 0.3);
    position: absolute;
    right: 0;
    width: 95vw;
    height: 84vh;
    transform: translate(-150%);
    transition: transform .5s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;  
    margin-top: 1.5rem;
    margin-right: -1.5rem;
    z-index: 5;
}

.menu-items ul {
    list-style: none;
    padding: 0;  
    padding-block: 3rem;
    /*background-color: orange;*/
}

.menu-items ul li {
    /*background-color: purple;*/
    padding-block: 1rem;
    display: block;
    text-align: center;
    margin-block: 1rem;
}  


.menu-items ul li a {
    color: white;
    text-decoration: none;
}

.download {
    padding-block: .5rem;
    padding-inline: 1.5rem;
    border-radius: 1rem;
    background: linear-gradient(45deg,rgba(187, 22, 187, 1),rgba(1, 145, 218, 1));
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );  
}



.download:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 7.5rem;
    background: linear-gradient(45deg,rgb(187, 22, 187),rgb(1, 145, 218));
    z-index: -1;
    filter: blur(20px);
}

.checkbox4:checked ~ .menu-items{
    transform: translateX(0);
}